<div class="container">

<br /><br />

<h3>Find Your closest Gaming Store</h3>

<!-- <div>
    <label for="uname">Choose a username: </label>
    <input type="text" id="" name="name">
  </div> -->


   <div style="width: 800px;">

     <div id="map" style="width: 380px; height: 400px; float: left;"></div>
     <div id="panel" style="width: 400px; float: right;"></div>

   </div>

   <div id="othermap" style="width: 380px; height: 400px; float: left;"></div>

   <!-- <div *ngIf="locationRetrieved">
     GOT IT
    </div> -->

</div>
